.container {
  display: flex;
  justify-content: center;
}

.plat {
  position: relative;
  top: 80px;
  padding: 15px 32px;
  border: 2px solid #263238;
  border-radius: 7px;
  font-size: 72px;
  font-family: system-ui;
  color: #263238;
}